* {
    margin: 0;
}



header {
    background-color: #dfdfdf59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

section {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf59;
    padding: 30px;
    border-radius: 35px;
}
form h2 {
margin-bottom: 10px;
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
}

form a {
    width: 80%;
    margin: 0 auto;
}

form button {
    padding: 5px;
    width: 100%;
}


/* dark mode */

.dark {
    background-color: rgb(24, 24, 53);
    color: #ffffff;
}

/* light mode */
.light {
    background-color: #ffffff;
    color: black;
}

.light header {
    background-color: grey;
}

.light form {
    background-color: grey;
}